@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.yesan .asan {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  column-gap: 10px;
  grid-template-areas: "img p";
  align-items: center;
}
.yesan .asan img {
  width: 300px;
  border-radius: 10px;
  margin: 20px;
  grid-area: img;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .yesan .asan .yesan {
    display: grid;
    column-gap: 20px;
    grid-template-areas: "img p1";
    align-items: center;
  }
  .yesan .asan .yesan img {
    width: 50px;
    border-radius: 10px;
    margin: 20px;
    grid-area: img;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .p1 {
    grid-area: p1;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .asan {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "img p2";
    align-items: center;
  }
  .yesan .asan .asan img {
    width: 50px;
    border-radius: 10px;
    margin: 20px;
    grid-area: img;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .p2 {
    grid-area: p2;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .yesan .asan .yesan {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "img p1";
    align-items: center;
  }
  .yesan .asan .yesan img {
    width: 50px;
    border-radius: 10px;
    margin: 20px;
    grid-area: img;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .p1 {
    grid-area: p1;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .asan {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "img p2";
    align-items: center;
  }
  .yesan .asan .asan img {
    width: 50px;
    border-radius: 10px;
    margin: 20px;
    grid-area: img;
    display: flex;
    flex-direction: column;
  }
  .yesan .asan .p2 {
    grid-area: p2;
    display: flex;
    flex-direction: column;
  }
}

header {
  background-color: black;
  width: 100%;
  height: 150px;
  position: relative;
}
@media screen and (max-width: 992px) {
  header {
    background-color: black;
    width: 100%;
    height: 150px;
    position: relative;
  }
}
@media (max-width: 768px) {
  header {
    background-color: black;
    width: 100%;
    height: 80px;
  }
}
@media (max-width: 576px) {
  header {
    background-color: black;
    width: 100%;
    height: 20px;
  }
}

.encabezado {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .encabezado {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .encabezado {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .encabezado {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
.encabezado .ul {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  list-style: none;
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .encabezado .ul {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    list-style: none;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .encabezado .ul {
    margin-right: 10px;
    list-style: none;
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .encabezado .ul {
    margin-right: 5px;
    list-style: none;
    font-size: 20px;
  }
}
.encabezado .img {
  width: 100px;
  height: 80px;
  padding: 20px;
}
@media screen and (max-width: 992px) {
  .encabezado .img {
    width: 80px;
    height: 60px;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .encabezado .img {
    width: 80px;
    height: 60px;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .encabezado .img {
    width: 80px;
    height: 60px;
    padding: 2px;
  }
}
.encabezado .ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  .encabezado .ul li a {
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .encabezado .ul li a {
    text-decoration: none;
    padding: 6px 5px;
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .encabezado .ul li a {
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    font-size: 15px;
  }
}

footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
footer img {
  width: 100px;
  height: 75px;
  margin: 4px;
}
@media (max-width: 576px) {
  footer {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer img {
    width: 50px;
    height: 35px;
    margin: 5px;
  }
}

main {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  main {
    min-height: 60vh;
  }
}

body {
  background-color: rgba(154, 26, 152, 0.9764705882);
}
@media (max-width: 576px) {
  body {
    width: 100%;
  }
}

.texto1 {
  display: grid;
  column-gap: 40px;
  grid-template-areas: "mauro foto";
  margin: 20px;
}
@media screen and (max-width: 992px) {
  .texto1 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .texto1 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .texto1 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.mauro {
  grid-area: mauro;
  text-align: justify;
}

.foto {
  grid-area: foto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
}
@media (max-width: 768px) {
  .foto {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .foto {
    width: 100%;
  }
}

ul li a {
  color: rgba(154, 26, 152, 0.9764705882);
}

h1 {
  color: black;
  font-size: 70px;
  padding-left: 50px;
  text-align: center;
  font-family: "Rock Salt", cursive;
}
@media screen and (max-width: 992px) {
  h1 {
    color: black;
    font-size: 40px;
    padding-left: 10px;
    text-align: center;
    font-family: "Rock Salt", cursive;
  }
}
@media (max-width: 768px) {
  h1 {
    color: black;
    font-size: 30px !important;
    padding-left: 10px;
    text-align: center;
    font-family: "Rock Salt", cursive;
  }
}
@media (max-width: 576px) {
  h1 {
    color: black;
    font-size: 10px;
    padding-left: 5px;
    text-align: center;
    font-family: "Rock Salt", cursive;
  }
}

h2 {
  color: black;
  font-size: 60px;
  padding-left: 20px;
  text-align: center;
}
@media screen and (max-width: 992px) {
  h2 {
    color: black;
    font-size: 50px;
    padding-left: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  h2 {
    color: black;
    font-size: 60px;
    padding-left: 20px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  h2 {
    color: black;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
  }
}

h3 {
  color: rgba(154, 26, 152, 0.9764705882);
  font-size: 40px;
  margin: 30px;
}
@media screen and (max-width: 992px) {
  h3 {
    color: rgba(154, 26, 152, 0.9764705882);
    font-size: 40px;
    margin: 30px;
  }
}
@media (max-width: 768px) {
  h3 {
    color: rgba(154, 26, 152, 0.9764705882);
    font-size: 20px;
    margin: 15px;
  }
}
@media (max-width: 576px) {
  h3 {
    color: rgba(154, 26, 152, 0.9764705882);
    font-size: 20px;
    margin: 15px;
  }
}

.subtitulo {
  color: black;
}
@media screen and (max-width: 992px) {
  .subtitulo {
    color: black;
  }
}
@media (max-width: 768px) {
  .subtitulo {
    color: black;
  }
}
@media (max-width: 576px) {
  .subtitulo {
    color: black;
  }
}

h4 {
  color: black;
  font-size: 30px;
  padding-left: 20px;
}
@media screen and (max-width: 992px) {
  h4 {
    color: black;
    font-size: 30px;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  h4 {
    color: black;
    font-size: 20px;
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  h4 {
    color: black;
    font-size: 10px;
    padding-left: 5px;
  }
}

.p {
  color: black;
  font-size: 25px;
  padding-left: 20px;
}
@media screen and (max-width: 992px) {
  .p {
    color: black;
    font-size: 25px;
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .p {
    color: black;
    font-size: 10px;
    padding-left: 5px;
  }
}
@media (max-width: 576px) {
  .p {
    color: black;
    font-size: 10px;
    padding-left: 5px;
  }
}

.formulario {
  display: grid;
  column-gap: 30px;
  grid-template-areas: "nombre    propuesta" "telefono  propuesta" "email     propuesta" "...       propuesta";
  color: black;
  font-size: 20px;
  padding-left: 50px;
  width: 300px;
  margin: 30px auto;
  border-bottom: 2px white;
  justify-content: center;
}
.formulario input {
  background-color: rgba(154, 26, 152, 0.9764705882);
  border: none;
  border-bottom: 2px black;
  width: 250px;
  height: 25px;
}
.formulario textarea {
  width: 400px;
  height: 350px;
}
.formulario button {
  color: rgba(154, 26, 152, 0.9764705882);
  background-color: black;
  border: solid 1px white;
  border-radius: 5px;
  display: flex;
  justify-self: end;
}
@media (max-width: 768px) {
  .formulario .formulario {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "nombre    " "telefono  " "email     " "...       " "propuesta";
    color: black;
    font-size: 20px;
    width: 300px;
    border-bottom: 2px white;
    flex-direction: column;
    justify-content: center;
  }
  .formulario .formulario input {
    background-color: rgba(154, 26, 152, 0.9764705882);
    border: none;
    border-bottom: 2px black;
    width: 250px;
    height: 25px;
  }
  .formulario .formulario textarea {
    width: 300px;
    height: 200px;
  }
  .formulario .formulario button {
    color: rgba(154, 26, 152, 0.9764705882);
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    justify-self: end;
  }
}
@media (max-width: 576px) {
  .formulario .formulario {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "nombre    " "telefono  " "email     " "...       " "propuesta";
    color: black;
    font-size: 10px;
    width: 100px;
    margin: auto;
    border-bottom: 2px white;
    flex-direction: column;
    justify-content: center;
  }
  .formulario .formulario input {
    background-color: rgba(154, 26, 152, 0.9764705882);
    border: none;
    border-bottom: 2px black;
    width: 150px;
    height: 25px;
  }
  .formulario .formulario textarea {
    width: 200px;
    height: 150px;
  }
  .formulario .formulario button {
    color: rgba(154, 26, 152, 0.9764705882);
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    justify-self: end;
  }
}

.nombre {
  grid-area: nombre;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .nombre {
    grid-area: nombre;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .nombre {
    grid-area: nombre;
    display: flex;
    flex-direction: column;
  }
}

.telefono {
  grid-area: telefono;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: column;
  }
}

.email {
  grid-area: email;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .email {
    grid-area: email;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .email {
    grid-area: email;
    display: flex;
    flex-direction: column;
  }
}

.propuesta {
  grid-area: propuesta;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .propuesta {
    grid-area: propuesta;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .propuesta {
    grid-area: propuesta;
    display: flex;
    flex-direction: column;
  }
}

.enviar {
  width: 100px;
  height: 25px;
  justify-content: center;
}
@media (max-width: 768px) {
  .enviar {
    width: 100px;
    height: 25px;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .enviar {
    width: 100px;
    height: 25px;
    justify-content: center;
  }
}

.musica {
  display: grid;
  column-gap: 10px;
  grid-template-areas: "sencillo  disco";
}
@media screen and (max-width: 992px) {
  .musica {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "sencillo  disco";
  }
}
@media (max-width: 768px) {
  .musica {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .musica {
    display: flex;
    flex-direction: column;
  }
}

.sencillo iframe {
  width: 500px;
  border-radius: 10px;
  margin: 30px;
}
@media screen and (max-width: 992px) {
  .sencillo iframe {
    width: 300px;
    border-radius: 10px;
    margin: 30px;
  }
}
@media (max-width: 768px) {
  .sencillo iframe {
    width: 300px;
    border-radius: 10px;
    margin: 15px;
  }
}
@media (max-width: 576px) {
  .sencillo iframe {
    width: 300px;
    border-radius: 10px;
    margin: 15px;
  }
}
.sencillo h3 {
  color: black;
}
@media screen and (max-width: 992px) {
  .sencillo h3 {
    color: black;
  }
}
@media (max-width: 768px) {
  .sencillo h3 {
    color: black;
  }
}
@media (max-width: 576px) {
  .sencillo h3 {
    color: black;
  }
}

.disco img {
  width: 300px;
  border-radius: 10px;
  margin: 30px;
}
@media screen and (max-width: 992px) {
  .disco img {
    width: 200px;
    border-radius: 10px;
    margin: 30px;
  }
}
@media (max-width: 768px) {
  .disco img {
    width: 300px;
    border-radius: 10px;
    margin: 2px;
  }
}
@media (max-width: 576px) {
  .disco img {
    width: 300px;
    border-radius: 10px;
    margin: 2px;
  }
}
.disco h3 {
  color: black;
}
@media screen and (max-width: 992px) {
  .disco h3 {
    color: black;
  }
}
@media (max-width: 768px) {
  .disco h3 {
    color: black;
  }
}
@media (max-width: 576px) {
  .disco h3 {
    color: black;
  }
}

.tarjeta {
  background-color: black;
  color: rgba(154, 26, 152, 0.9764705882);
  width: 500px;
  border: hidden;
  border-radius: 20px;
  padding: 40px;
  margin: 50px;
  display: grid;
  column-gap: 10px;
  grid-template-areas: "lugar          lugar          lugar" "imagen         fecha          fecha" "imagen         fecha          fecha" "imagen         ...            comprar";
}
.tarjeta img {
  width: 250px;
  height: 180px;
  border: hidden 2px;
  border-radius: 10px;
}
.tarjeta ul {
  font-size: 16px;
  list-style: none;
}
.tarjeta h2 {
  color: rgba(154, 26, 152, 0.9764705882);
  font-size: 20px;
  text-align: start;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .tarjeta {
    background-color: black;
    color: rgba(154, 26, 152, 0.9764705882);
    width: 400px;
    border: hidden;
    border-radius: 20px;
    padding: 40px;
    margin: 50px;
    display: grid;
    column-gap: 10px;
    grid-template-areas: "lugar          lugar          lugar" "imagen         fecha          fecha" "imagen         fecha          fecha" "imagen         ...            comprar";
  }
  .tarjeta img {
    width: 250px;
    height: 180px;
    border: hidden 2px;
    border-radius: 10px;
  }
  .tarjeta ul {
    font-size: 16px;
    list-style: none;
  }
  .tarjeta h2 {
    color: rgba(154, 26, 152, 0.9764705882);
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .tarjeta {
    background-color: black;
    color: rgba(154, 26, 152, 0.9764705882);
    width: 300px;
    border: hidden;
    border-radius: 20px;
    padding: 40px;
    margin: 50px;
    display: grid;
    column-gap: 10px;
    grid-template-areas: "lugar          lugar          lugar" "imagen         fecha          fecha" "imagen         fecha          fecha" "imagen         ...            comprar";
  }
  .tarjeta img {
    width: 150px;
    height: 120px;
    border: hidden 2px;
    border-radius: 10px;
  }
  .tarjeta h2 {
    color: rgba(154, 26, 152, 0.9764705882);
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
  }
  .tarjeta ul {
    font-size: 16px;
    list-style: none;
  }
}

.tarjeta1 {
  grid-area: tarjeta1;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta1 {
    grid-area: tarjeta1;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta1 {
    grid-area: tarjeta1;
    display: flex;
    flex-direction: column;
  }
}

.tarjeta2 {
  grid-area: tarjeta2;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta2 {
    grid-area: tarjeta2;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta2 {
    grid-area: tarjeta2;
    display: flex;
    flex-direction: column;
  }
}

.tarjeta3 {
  grid-area: tarjeta3;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta3 {
    grid-area: tarjeta3;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta3 {
    grid-area: tarjeta3;
    display: flex;
    flex-direction: column;
  }
}

.tarjeta4 {
  grid-area: tarjeta4;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta4 {
    grid-area: tarjeta4;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta4 {
    grid-area: tarjeta4;
    display: flex;
    flex-direction: column;
  }
}

.tarjeta5 {
  grid-area: tarjeta5;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta5 {
    grid-area: tarjeta5;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta5 {
    grid-area: tarjeta5;
    display: flex;
    flex-direction: column;
  }
}

.tarjeta6 {
  grid-area: tarjeta6;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .tarjeta6 {
    grid-area: tarjeta6;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjeta6 {
    grid-area: tarjeta6;
    display: flex;
    flex-direction: column;
  }
}

.comprar {
  background-color: rgba(154, 26, 152, 0.9764705882);
  color: black;
  border-radius: 2px;
  font-size: 16px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .comprar {
    background-color: rgba(154, 26, 152, 0.9764705882);
    color: black;
    border-radius: 2px;
    font-size: 16px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: comprar;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .comprar {
    background-color: rgba(154, 26, 152, 0.9764705882);
    color: black;
    border-radius: 2px;
    font-size: 16px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: comprar;
    display: flex;
    flex-direction: column;
  }
}

.lugar {
  grid-area: lugar;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .lugar {
    grid-area: lugar;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .lugar {
    grid-area: lugar;
    display: flex;
    flex-direction: column;
  }
}

.imagen {
  grid-area: imagen;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .imagen {
    grid-area: imagen;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .imagen {
    grid-area: imagen;
    display: flex;
    flex-direction: column;
  }
}

.fecha {
  grid-area: fecha;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .fecha {
    grid-area: fecha;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .fecha {
    grid-area: fecha;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .tarjetas {
    display: flex;
    flex-direction: column;
  }
}

.p1 {
  grid-area: p;
  display: flex;
  flex-direction: column;
}

.p2 {
  grid-area: p;
  display: flex;
  flex-direction: column;
}

/* ------------media max-width 992px--------------- */
/* ------------media maxwidth 768px--------------- */
/* ------------media maxwidth 576px--------------- */

/*# sourceMappingURL=style.css.map */
