.formulario {
    display: grid;
    column-gap: 30px;
    grid-template-areas: "nombre    propuesta"
                         "telefono  propuesta"
                         "email     propuesta"
                         "...       propuesta";
    
color: black;
font-size: 20px;
padding-left: 50px;
width: 300px;
margin: 30px auto;
border-bottom: 2px white;
justify-content: center;
input {
    background-color:$color-primario ;
    border: none;
    border-bottom: 2px black;
    width: 250px;
    height: 25px;
}
 textarea {
    width: 400px;
    height: 350px;
}
button {
    color: $color-primario ;
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    justify-self: end;
}
@media (max-width:768px){
    .formulario {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "nombre    "
                             "telefono  "
                             "email     "
                             "...       "
                             "propuesta";
    
 color: black;
 font-size: 20px;
 width: 300px;
 border-bottom: 2px white;
 flex-direction: column;
 justify-content: center;
         input {
    background-color:#9a1a98f9 ;
    border: none;
    border-bottom: 2px black;
    width: 250px;
    height: 25px;
        }
        textarea {
            width: 300px;
            height: 200px;
        }
        button {
            color: #9a1a98f9 ;
            background-color: black;
            border: solid 1px white;
            border-radius: 5px;
            display: flex;
            justify-self: end;
        }
        
        
    }
}
@media (max-width:576px){
    .formulario {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "nombre    "
                             "telefono  "
                             "email     "
                             "...       "
                             "propuesta";
        color: black;
        font-size: 10px;
        width: 100px;
        margin: auto;
        border-bottom: 2px white;
        flex-direction: column;
        justify-content: center;
        input {
            background-color:#9a1a98f9 ;
            border: none;
            border-bottom: 2px black;
            width: 150px;
            height: 25px;
        }
        textarea {
            width: 200px;
            height: 150px;
        }
        button {
            color: #9a1a98f9 ;
            background-color: black;
            border: solid 1px white;
            border-radius: 5px;
            display: flex;
            justify-self: end;
        }
        
        
        
    }  
}
    
}


.nombre {
    grid-area: nombre;
    display: flex;
    flex-direction: column;
    @media (max-width:768px){
        grid-area: nombre;
        display: flex;
        flex-direction: column;
    }
    @media (max-width:576px){
        grid-area: nombre;
        display: flex;
        flex-direction: column;
    }
}
.telefono {
    grid-area: telefono;
    display: flex;
    flex-direction: column;
    @media (max-width:768px){
        grid-area: telefono;
        display: flex;
        flex-direction: column;
    }
    @media (max-width:576px){
        grid-area: telefono;
        display: flex;
        flex-direction: column;
    }
}

.email {
    grid-area: email;
    display: flex;
    flex-direction: column;
    @media (max-width:768px){
        grid-area: email;
        display: flex;
        flex-direction: column;
    }
    @media (max-width:576px){
        grid-area: email;
        display: flex;
        flex-direction: column;
    }
}

.propuesta {
    grid-area: propuesta;
    display: flex;
    flex-direction: column;
    @media (max-width:768px){
        grid-area: propuesta;
        display: flex;
        flex-direction: column;
    }
    @media (max-width:576px){
        grid-area: propuesta;
        display: flex;
        flex-direction: column;
    }
}


.enviar {
    width: 100px;
    height: 25px;
    justify-content: center;
    @media (max-width:768px){
        width: 100px;
        height: 25px;
        justify-content: center;
    }
    @media (max-width:576px){
        width: 100px;
        height: 25px;
        justify-content: center;
    }
} 