.disco {
    img {
        width: 300px;
        border-radius: 10px;
        margin: 30px;
        @media screen and (max-width: 992px){
            width: 200px;
            border-radius: 10px;
            margin: 30px;
        }
    }
    h3 {
        color: black;
        @media screen and (max-width: 992px){
            color: black;
        }
    }
    }