footer { 
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    img { 
        width: 100px;
        height: 75px;
        margin: 4px;
        
    
    }
}