header {
    background-color: black;
    width: 100%;
    height: 150px;
    position: relative;
    @media screen and (max-width: 992px){
        background-color: black;
        width: 100%;
        height: 150px;
        position: relative;
    }
    @media (max-width:768px){
        background-color: black;
        width: 100%;
        height: 80px
    }
    @media (max-width:576px){
        background-color: black;
        width: 100%;
        height: 20px
    }
}
