main {
    width: 100%;
    height: 100%;
}
body {
    background-color:$color-primario;
}
 

.texto1 {
    display: grid;
    column-gap: 40px;
    grid-template-areas: "mauro foto";

    margin: 20px;
    @media screen and (max-width: 992px){
        display: flex;
        flex-direction: column;
    }
    @media (max-width:768px){
        display: flex;
        flex-direction: column;
    }
}
    
.mauro {
    grid-area: mauro;

    text-align: justify;
}
.foto {
   @include foto(100%,550px);
   @media (max-width:768px){
    width: 300px;
        height: 200px;
   }
}



ul li a {
    color: $color-primario;
}


h1 {
   color: black;
   font-size: 70px;
   padding-left: 50px;
   text-align: center;
   font-family: 'Rock Salt', cursive;;
   @media screen and (max-width: 992px){
    color: black;
        font-size: 40px;
        padding-left: 10px;
        text-align: center;
        font-family: 'Rock Salt', cursive;;
   }
}
h2 {
    color: black;
    font-size: 60px;
    padding-left: 20px;
    text-align: center;
    @media screen and (max-width: 992px){
        color: black;
        font-size: 50px;
        padding-left: 20px;
        text-align: center;
    }
}
h3 {
    color:$color-primario ;
    font-size: 40px;
    margin: 30px;
    @media screen and (max-width: 992px){
        color: #9a1a98f9 ;
        font-size: 40px;
        margin: 30px;
    }
}
.subtitulo {
    color: black;
    @media screen and (max-width: 992px){
        color: black;
    }
}
h4 {
    color: black;
    font-size: 30px;
    padding-left: 20px;
    @media screen and (max-width: 992px){
        color: black;
        font-size: 30px;
        padding-left: 20px;
    }
}
.p {
    color: black;
    font-size: 25px;
    padding-left: 20px;
    @media screen and (max-width: 992px){
        color: black;
        font-size: 25px;
        padding-left: 20px;
    }

}

