.musica {
    display: grid;
    column-gap: 10px;
    grid-template-areas: "sencillo  disco";
    @media screen and (max-width: 992px){
        display: grid;
        column-gap: 10px;
        grid-template-areas: "sencillo  disco";
    }
    @media (max-width:768px){
        display: flex;
        flex-direction: column;
    }
    @media (max-width:576px){
        display: flex;
        flex-direction: column;
    }
}
