
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import "reset";
@import "variables";
@import "extends";
@import "mixins";
@import "encabezado";
@import "footer";
@import "main";
@import "contacto";
@import "musica";
@import "sencillo";
@import "disco";
@import "tarjeta";



.yesan .asan{
   @extend %flex-column
 }

.p1{
    grid-area: p;
    display: flex;
    flex-direction: column;


}

.p2 {
    grid-area: p;
    display: flex;
    flex-direction: column;
}



/* ------------media max-width 992px--------------- */

@media screen and (max-width: 992px) {
    header {
        background-color: black;
        width: 100%;
        height: 150px;
        position: relative;
    
    }
    
    
    
    .texto1{
        display: flex;
        flex-direction: column;
    }


    .encabezado{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;

         ul { 
            display: flex;
            justify-content: end;
            margin-right: 10px;
            list-style: none;
            font-size: 20px;
            
        }
         img {
        
            width: 80px;
            height: 60px;
            padding: 10px;
            
        }
        
         ul li a {
            text-decoration: none;
            display: block;
            padding: 8px 15px;
            font-size: 20px;
        }
    }
    
    

    h1 {
        color: black;
        font-size: 40px;
        padding-left: 10px;
        text-align: center;
        font-family: 'Rock Salt', cursive;;
     }
     h2 {
         color: black;
         font-size: 50px;
         padding-left: 20px;
         text-align: center;
     }
     h3 {
         color: #9a1a98f9 ;
         font-size: 40px;
         margin: 30px;
     }
     .subtitulo {
         color: black;
     }
     h4 {
         color: black;
         font-size: 30px;
         padding-left: 20px;
     }
     p {
         color: black;
         font-size: 25px;
         padding-left: 20px;
     }


     .musica {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "sencillo  disco"
        ;
    }
    
    .sencillo iframe {
        width: 300px;
        border-radius: 10px;
        margin: 30px;  
    }
    .disco img {
        width: 200px;
        border-radius: 10px;
        margin: 30px;
    }
    .sencillo h3 {
        color: black;
    }
    .disco h3 {
        color: black;
    }
    

}


/* ------------media maxwidth 768px--------------- */


@media (max-width:768px){

    header {
        background-color: black;
        width: 100%;
        height: 80px
        
    
    }
    .texto1{
        display: flex;
        flex-direction: column;
    }
    .foto{
        width: 300px;
        height: 200px;
    }
    .encabezado {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
         img {

            width: 80px;
            height: 60px;
            padding: 10px;
        }
    
         ul {
            margin-right: 10px;
             list-style: none;
             font-size: 15px;
         }
    
          ul li a {
            text-decoration: none;
            padding: 6px 5px;
            font-size: 10px;
        }
    }
    
    
    
    h1 {
        color: black;
        font-size: 30px !important;
        padding-left: 10px;
        text-align: center;
        font-family: 'Rock Salt', cursive;
     }
     h2 {
         color: black;
         font-size: 60px;
         padding-left: 20px;
         text-align: center;
     }
     h3 {
         color: #9a1a98f9 ;
         font-size: 20px;
         margin: 15px;
     }
     .subtitulo {
         color: black;
     }
     h4 {
         color: black;
         font-size: 20px;
         padding-left: 10px;
     }
     p {
         color: black;
         font-size: 10px;
         padding-left: 5px;
     }
     .formulario {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "nombre    "
                             "telefono  "
                             "email     "
                             "...       "
                             "propuesta";
    
 color: black;
 font-size: 20px;
 width: 300px;
 border-bottom: 2px white;
 flex-direction: column;
 justify-content: center;
         input {
    background-color:#9a1a98f9 ;
    border: none;
    border-bottom: 2px black;
    width: 250px;
    height: 25px;
        }
        textarea {
            width: 300px;
            height: 200px;
        }
        button {
            color: #9a1a98f9 ;
            background-color: black;
            border: solid 1px white;
            border-radius: 5px;
            display: flex;
            justify-self: end;
        }
        
        
    }
    
       
    
    
    .nombre {
        grid-area: nombre;
        display: flex;
        flex-direction: column;
    }
    .telefono {
        grid-area: telefono;
        display: flex;
        flex-direction: column;
    }
    
    .email {
        grid-area: email;
        display: flex;
        flex-direction: column;
    }
    
    .propuesta {
        grid-area: propuesta;
        display: flex;
        flex-direction: column;
    }
    
    
    .enviar {
        width: 100px;
        height: 25px;
        justify-content: center;
    } 
    
    .yesan{
        display: grid;
        column-gap: 10px;
        grid-template-areas: "img p1";
        align-items: center;
        img {
            width: 50px;
            border-radius: 10px;
            margin: 20px;
            grid-area: img;
            display: flex;
            flex-direction: column;
            
        }
    }
    
    
    
    .p1{
        grid-area: p1;
        display: flex;
        flex-direction: column;
    
    
    }
    .asan {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "img p2";
        align-items: center;
        img {
            width: 50px;
            border-radius: 10px;
            margin: 20px;
            grid-area: img;
            display: flex;
            flex-direction: column;
            
        }
    
    }
    
    
    
    .p2 {
        grid-area: p2;
        display: flex;
        flex-direction: column;
    }
    
    .musica {
        display: flex;
        flex-direction: column;
    }
    .sencillo iframe {
        width: 300px;
        border-radius: 10px;
        margin: 15px;  
    }
    .disco img {
        width: 300px;
        border-radius: 10px;
        margin: px;
    }
    .sencillo h3 {
        color: black;
    }
    .disco h3 {
        color: black;
    }
    
    
    .tarjetas {
        display: flex;
        flex-direction: column;
    
        
                             
    }
    
    .tarjeta {
            background-color: black;
            color:#9a1a98f9;
            width: 400px;
            border: hidden;
            border-radius: 20px;
            padding: 40px;
            margin: 50px;
            img {
                width: 250px;
                height: 180px;
                border:hidden 2px ;
                border-radius: 10px;
                
            }
            ul {
    
                font-size: 16px;
                list-style: none; 
            
            }  
            h2 {
                color: #9a1a98f9;
                font-size: 20px;
                text-align: start;
                margin-bottom: 10px;
            }

            display: grid;
            column-gap: 10px;
            grid-template-areas:    "lugar          lugar          lugar"
                                    "imagen         fecha          fecha"
                                    "imagen         fecha          fecha"
                                    "imagen         ...            comprar";

        }
    
    
    
    .tarjeta1 {
        grid-area: tarjeta1;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta2 {
        grid-area: tarjeta2;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta3 {
        grid-area: tarjeta3;
        display: flex;
        flex-direction: column;
       
    }
    
    .tarjeta4 {
        grid-area: tarjeta4;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta5 {
        grid-area: tarjeta5;
        display: flex;
        flex-direction: column;
    }
    
    .tarjeta6 {
        grid-area: tarjeta6;
        display: flex;
        flex-direction: column;
       
    }
    
    .comprar {
        background-color:#9a1a98f9;
        color: black;
        border-radius: 2px;
        font-size: 16px;
        margin: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .lugar {
        grid-area: lugar;
        display: flex;
        flex-direction: column;
        
    
    }
    .imagen {
        grid-area: imagen;
        display: flex;
        flex-direction: column;
        
    }
    
    .fecha{
        grid-area: fecha;
        display: flex;
        flex-direction: column;
     
        
    }
    .comprar {
        grid-area: comprar;
        display: flex;
        flex-direction: column;
        
    }
    
    
    footer { 
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    
        
    
        
    
    }

    
}


/* ------------media maxwidth 576px--------------- */


@media (max-width:576px){
    .body {
        width: 100%;
    }
    header {
        background-color: black;
        width: 100%;
        height: 20px
        
    
    }


    main {
        min-height: 60vh;
    }
    .foto {
        width: 100%;
    }
    
    .texto1{
        display: grid;
        grid-template-columns: 1fr;
    }

    .encabezado {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
         img {

            width: 80px;
            height: 60px;
            padding: 2px;
        }
    
         ul {
            margin-right: 5px;
             list-style: none;
             font-size: 20px;
         }
    
         ul li a {
            text-decoration: none;
            display: block;
            padding: 8px 10px;
            font-size: 5px;
        }
    }
    
    

    h1 {
        color: black;
        font-size: 10px;
        padding-left: 5px;
        text-align: center;
        font-family: 'Rock Salt', cursive;
     }
     h2 {
         color: black;
         font-size: 20px;
         padding-left: 10px;
         text-align: center;
     }
     h3 {
         color: #9a1a98f9 ;
         font-size: 20px;
         margin: 15px;
     }
     .subtitulo {
         color: black;
     }
     h4 {
         color: black;
         font-size: 10px;
         padding-left: 5px;
     }
     p {
         color: black;
         font-size: 10px;
         padding-left: 5px;
     }
    .formulario {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "nombre    "
                             "telefono  "
                             "email     "
                             "...       "
                             "propuesta";
        color: black;
        font-size: 10px;
        width: 100px;
        margin: auto;
        border-bottom: 2px white;
        flex-direction: column;
        justify-content: center;
        input {
            background-color:#9a1a98f9 ;
            border: none;
            border-bottom: 2px black;
            width: 150px;
            height: 25px;
        }
        textarea {
            width: 200px;
            height: 150px;
        }
        button {
            color: #9a1a98f9 ;
            background-color: black;
            border: solid 1px white;
            border-radius: 5px;
            display: flex;
            justify-self: end;
        }
        
        
        
    }
    
    
    
    
    .nombre {
        grid-area: nombre;
        display: flex;
        flex-direction: column;
    }
    .telefono {
        grid-area: telefono;
        display: flex;
        flex-direction: column;
    }
    
    .email {
        grid-area: email;
        display: flex;
        flex-direction: column;
    }
    
    .propuesta {
        grid-area: propuesta;
        display: flex;
        flex-direction: column;
    }
    
     
    
    
    .enviar {
        width: 100px;
        height: 25px;
        justify-content: center;
    } 
    

    
    .yesan{
        display: grid;
        column-gap: 10px;
        grid-template-areas: "img p1";
        align-items: center;
        img {
            width: 50px;
            border-radius: 10px;
            margin: 20px;
            grid-area: img;
            display: flex;
            flex-direction: column;
            
        }
    }
    
    
    
    .p1{
        grid-area: p1;
        display: flex;
        flex-direction: column;
    
    
    }
    .asan {
        display: grid;
        column-gap: 10px;
        grid-template-areas: "img p2";
        align-items: center;
        img {
            width: 50px;
            border-radius: 10px;
            margin: 20px;
            grid-area: img;
            display: flex;
            flex-direction: column;
            
        }
    
    }
    
    
    
    .p2 {
        grid-area: p2;
        display: flex;
        flex-direction: column;
    }
    
    .musica {
        display: flex;
        flex-direction: column;
    }
    .sencillo iframe {
        width: 300px;
        border-radius: 10px;
        margin: 15px;  
    }
    .disco img {
        width: 300px;
        border-radius: 10px;
        margin: px;
    }
    .sencillo h3 {
        color: black;
    }
    .disco h3 {
        color: black;
    }
    
    
    
    .tarjetas {
        display: flex;
        flex-direction: column;
    
        
                             
    }
    
    .tarjeta {
            background-color: black;
            color:#9a1a98f9;
            width: 300px;
            border: hidden;
            border-radius: 20px;
            padding: 40px;
            margin: 50px;
            img {
                width: 150px;
                height: 120px;
                border:hidden 2px ;
                border-radius: 10px;
                
            }
            h2 {
                color: #9a1a98f9;
                font-size: 20px;
                text-align: start;
                margin-bottom: 10px;
            }
            ul {
    
                font-size: 16px;
                list-style: none; 
            
            }  
        display: grid;
        column-gap: 10px;
        grid-template-areas:    "lugar          lugar          lugar"
                                "imagen         fecha          fecha"
                                "imagen         fecha          fecha"
                                "imagen         ...            comprar";

        }
    
    
    
    .tarjeta1 {
        grid-area: tarjeta1;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta2 {
        grid-area: tarjeta2;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta3 {
        grid-area: tarjeta3;
        display: flex;
        flex-direction: column;
       
    }
    
    .tarjeta4 {
        grid-area: tarjeta4;
        display: flex;
        flex-direction: column;
        
    }
    
    .tarjeta5 {
        grid-area: tarjeta5;
        display: flex;
        flex-direction: column;
    }
    
    .tarjeta6 {
        grid-area: tarjeta6;
        display: flex;
        flex-direction: column;
       
    }
    

    
    .comprar {
        background-color:#9a1a98f9;
        color: black;
        border-radius: 2px;
        font-size: 16px;
        margin: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-area: comprar;
        display: flex;
        flex-direction: column;
    }
  
    .lugar {
        grid-area: lugar;
        display: flex;
        flex-direction: column;
        
    
    }
    .imagen {
        grid-area: imagen;
        display: flex;
        flex-direction: column;
        
    }
    
    .fecha{
        grid-area: fecha;
        display: flex;
        flex-direction: column;
     
        
    }
    
    
    
    footer { 
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        img { 
            width: 50px;
            height: 35px;
            margin: 5px;
            
        
        }
    }
    
}