
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import "reset";
@import "variables";
@import "extends";
@import "mixins";
@import "header";
@import "encabezado";
@import "footer";
@import "main";
@import "contacto";
@import "musica";
@import "sencillo";
@import "disco";
@import "tarjeta";



.yesan .asan{
   @extend %flex-column
 }

.p1{
    grid-area: p;
    display: flex;
    flex-direction: column;


}

.p2 {
    grid-area: p;
    display: flex;
    flex-direction: column;
}



/* ------------media max-width 992px--------------- */

@media screen and (max-width: 992px) {

}


/* ------------media maxwidth 768px--------------- */


@media (max-width:768px){



    
}


/* ------------media maxwidth 576px--------------- */


@media (max-width:576px){

    
    
   
    
}